<html>
  <head></head>
  <body>
    <h3>Add Person</h3>
    <form method="POST" action="/person">
      <input type="text" name="name" placeholder="Name">
      <input type="submit" name="submit" value="submit">
    </form>

    <h3>Add Friendship</h3>
    <form method="POST" action="/friendship">
      <input type="text" name="firstPersonName" placeholder="Name">
      <input type="text" name="secondPersonName" placeholder="Name">
      <input type="submit" name="submit" value="submit">
    </form>

    <h3>Add Birthplace</h3>
    <form method="POST" action="/birthplace">
      <input type="text" name="personName" placeholder="Name">
      <input type="text" name="locationCity" placeholder="City">
      <input type="text" name="locationState" placeholder="State">
      <input type="text" name="year" placeholder="Year">
      <input type="submit" name="submit" value="submit">
    </form>

    <h3>People</h3>
    <ul>
      <% persons.forEach((person) => { %>
        <li><%= person.name %></li>
      <% }) %>
    </ul>

    <h3>Add Location</h3>
    <form method="POST" action="/location">
      <input type="text" name="city" placeholder="city">
      <input type="text" name="state" placeholder="state">
      <input type="submit" name="submit" value="submit">
    </form>

    <h3>Locations</h3>
    <ul>
      <% locations.forEach((location) => { %>
        <li><%= location.city %>, <%= location.state %></li>
      <% }) %>
    </ul>


  </body>
</html>
